@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.font-instagram {
  font-family: 'Billabong', 'Segoe Script', 'Brush Script MT', cursive;
  font-weight: 500;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
